* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    background-color: bisque;
    width: 30%;
    height: 70vh;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image {
    height: 50%;
    
}

.name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.score {
    height: 40%;
    margin: 2rem;
}


#number {
    border-radius: 2rem;
    outline: none;
}

#playingTo {
    margin-top: 2rem;
}

.commands {
    display: flex;
}


button {
    border: none;
    padding: 1rem 1rem;
    outline: none;
    cursor: pointer;
    color: white;
    flex: 1 1 8rem;
}

#p1Button {
    background-color: rgb(116, 219, 103);
}

#p2Button {
    background-color: rgb(74, 118, 240);
}

#reset {
    background-color: rgb(240, 74, 74);
}

.win {
    color: rgb(116, 219, 103);
}

.lose {
    color:rgb(240, 74, 74);
}

#outcome {
    margin-bottom: 3rem;
}